@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "tailwindcss";


body {
  cursor: default;
  font-family: "Poppins", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
